{{#each blogs as |blog| }}
<section class="card homepage">
  <div class="card-header" id="title">
    <div class="title">
        <h2 class="no-line"><a href="/blog/{{blog.id}}">{{blog.title}}</a></h2>
      </div>
      <div>
          <p>posted by {{user.username}} on {{format_date blog.created_at}}</p>
      </div>
  </div>
  <div class="card-body">
      <p>{{blog.content}}</p>
      <a href="/blog/{{blog.id}}/comment">comment</a>
  </div>
</section>
{{/each}}